pymongo
certifi
pandas
openai
streamlit
streamlit-folium
folium
extra-streamlit-components
streamlit-javascript
streamlit-echarts
pandas
numpy
matplotlib
PyPDF2
st-pages
streamlit_chat
pathlib
streamlit_extras
plotly
